<h1>物件登録</h1>

<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <ul>
    <div class="error_explanation" >
      <% @property.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
    </div>
    </ul>
  <% end %>

  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <p><%= form.label :rent %></p>
  <p><%= form.text_field :rent %>円</p>
  <p><%= form.label :address %></p>
  <p><%= form.text_field :address %></p>
  <p><%= form.label :year %></p>
  <p><%= form.text_field :year %>年</p>
  <p><%= form.label :remark %></p>
  <p><%= form.text_field :remark %></p>
  <p><%= form.submit "登録する" %></p>
<% end %>
<%= link_to "戻る", properties_path %>